<h1>This is the Festivals Page</h1>

<ul>
	<%= @festivals.each do |festival| %>
		<li>
			<strong> <%= festival.name %> </strong>
			<%= link_to "More Info", festival_path(festival) %>
		</li>
	<% end %>	
</ul>