<h1>Users</h1>

<ul>
  <% @users.each do |user| %> <br><br>

    <table class="table table-condensed" > 
    	<strong> <%= user.name %> </strong>
    	<%= link_to "More Info", user_path(user) %>
    	<br><hr>

    </table>
  <% end %>
</ul>

	

