<h1>Users</h1>

<ul>
  <% @users.each do |user| %>
    <li> 
    	<strong> <%= user.name %> </strong>
    	<%= link_to "More Info", user_path(user) %>
    	<%= image_tag user.image.url(:large) %><br><hr>

    </li>
  <% end %>
</ul>

	

