<h1>Festivals</h1> <br>

<table class="table table-striped table-bordered">
 <thead>
   <tr>
     <th>Name</th>
     <th>Date</th>
     <th>Location</th>
     <th>Info</th>
     <th colspan="3"></th>
   </tr>
 </thead>

 <tbody>
   <% @festivals.each do |festival| %>
     <tr>
       <td><%= festival.name %></td>
       <td><%= festival.date %></td>
       <td><%= festival.location %></td>
       <td><%= link_to "More Info", festival_path(festival) %></td> 
     </tr>
   <% end %>
 </tbody>
</table>

<br>